@import url('https://fonts.googleapis.com/css2?family=Figtree:wght@700&display=swap');

body {
  background-color:rgb(22, 34, 45);
  
  font-family: 'Figtree', sans-serif;

  background-size:150%;



}

::-webkit-scrollbar {
width: 5px;



}

/* Track */
::-webkit-scrollbar-track {
background: #15212c;
border-radius: 30px;  
margin-block: 15px;


}

/* Handle */
::-webkit-scrollbar-thumb {
background: #2c4257;
border-radius: 30px;
}





