@font-face {
  font-family: 'SatoshiComplete';
  src: url('../assets/Fonts/Satoshi_Complete/Fonts/OTF/Satoshi-Medium.otf') format('woff2'),
       url('../assets/Fonts/Satoshi_Complete/Fonts/OTF/Satoshi-Medium.otf') format('woff');
  /* Add other font properties if needed, like font-weight and font-style */
}

body {
  background-color: #0c141b;
  font-family: 'SatoshiComplete', sans-serif;
  background-size: 150%;
  font-size: 17px;
}

::-webkit-scrollbar {
width: 5px;



}

/* Track */
::-webkit-scrollbar-track {
background: #15212c;
border-radius: 30px;  
margin-block: 15px;


}

/* Handle */
::-webkit-scrollbar-thumb {
background: #2c4257;
border-radius: 30px;
}





